@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;700&display=swap');

* {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

html {
	font-size: 62.5%;
}


/* COLORES DE LA PAGINA */

.colorBase {
  color: rgb(68, 84, 106);
}

.colorSecundario {
  color: rgb(252, 153, 124);
}

.colorExcel {
  color: rgb(85, 203, 96);
}

.colorAutomate {
  color: rgb(91, 155, 213);
}

.colorApps {
  color: rgb(205, 87, 177);
}

.bgColorBase {
  background-color: rgb(68, 84, 106);
}

.bgExcel {
  background-color: rgb(85, 203, 96);
  color: white;
}

.bgExcel:hover {
  background-color: white;
  color: rgb(85, 203, 96);
  font-weight: 700;
  border:solid;
  border-color: rgb(85, 203, 96);
  border-width: 1px;
}

.bgGradientExcel {
  background: rgba(41, 112, 45, 1.0);
  background: -webkit-linear-gradient(top, rgba(41, 112, 45, 1.0), rgba(166, 221, 137, 1.0));
  background: -moz-linear-gradient(top, rgba(41, 112, 45, 1.0), rgba(166, 221, 137, 1.0));
  background: linear-gradient(to bottom, rgba(41, 112, 45, 1.0), rgba(166, 221, 137, 1.0));
}


.bgAutomate {
  background-color: rgb(91, 155, 213);
  color: white;
}

.bgAutomate:hover {
  background-color: white;
  color: rgb(91, 155, 213);
  font-weight: 700;
  border:solid;
  border-color: rgb(91, 155, 213);
  border-width: 1px;
}

.bgGradientAutomate {
  background: rgba(53, 88, 120, 1.0);
  background: -webkit-linear-gradient(top, rgba(53, 88, 120, 1.0), rgba(137, 159, 221, 1.0));
  background: -moz-linear-gradient(top, rgba(53, 88, 120, 1.0), rgba(137, 159, 221, 1.0));
  background: linear-gradient(to bottom, rgba(53, 88, 120, 1.0), rgba(137, 159, 221, 1.0));
}


.bgApps {
  background-color: rgb(205, 87, 177);
  color: white;
}

.bgApps:hover {
  background-color: white;
  color: rgb(205, 87, 177);
  font-weight: 700;
  border:solid;
  border-color: rgb(205, 87, 177);
  border-width: 1px;
}

.bgGradientApps {
  background: rgba(114, 53, 120, 1.0);
  background: -webkit-linear-gradient(top, rgba(114, 53, 120, 1.0), rgba(206, 137, 221, 1.0));
  background: -moz-linear-gradient(top, rgba(114, 53, 120, 1.0), rgba(206, 137, 221, 1.0));
  background: linear-gradient(to bottom, rgba(114, 53, 120, 1.0), rgba(206, 137, 221, 1.0));
}

/* TAMAÑOS DE FUENTE DE LA PAGINA */

.fontWeigthThin {
  font-weight: 100;
}

.fontWeigthSemithin {
  font-weight: 300;
}

.fontWeigthSemibold {
  font-weight: 500;
}

.fontWeigthBold {
  font-weight: 700;
}




@keyframes animCards {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.animationCards{ animation-name: animCards; animation-duration:2s; animation-timing-function:ease-in; animation-delay:0.5s;animation-iteration-count:normal}


@keyframes divAnimacion{
	0%{width: 20%; background-color: rgb(205, 87, 177)}
	25%{width: 40%; background-color: rgb(255,255,255)}
	50%{width: 60%; background-color: rgb(91, 155, 213)}
	75%{width: 80%; background-color: rgb(255,255,255)}
	100%{width: 100%; background-color: rgb(85, 203, 96)}
}

.divAnimacion{
  align-self: center;
	height: 1.5px;
	animation-name: divAnimacion;
	animation-timing-function: ease-out;
	animation-iteration-count:  infinite;
	animation-duration: 3s;
	animation-delay: 0.5s;
  margin: 10px 0 50px 0;
}


@keyframes textoUno{
	0%{color: rgba(205, 87, 177);}
	50%{color: rgb(91, 155, 213);}
	100%{color: rgb(85, 203, 96);}
}

.textoAnimacion{
	animation-name: textoUno;
	animation-timing-function: ease-out;
	animation-iteration-count: infinite;
	animation-duration: 4s;
  font-weight: 900;
}



/* ESTILO DE LA NAV */


.bgNav {
  font-size: 1.5rem;
}

.styleNav ul li a{
  margin-right: 40px;
  border-bottom-style: solid;
  border-bottom-color: rgb(68, 84, 106);
}

.styleNav ul li a:hover{
  border-bottom-style: solid;
  border-bottom-color: rgb(252, 153, 124);
  /* color: rgb(252, 153, 124); */
}


/* ESTILOS DE INDEX */

.containerIndex {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
      "nav nav nav"
      "header header header"
      "sectionUno sectionUno sectionUno"
      "sectionDos sectionDos sectionDos"
      "sectionTres sectionTres sectionTres"
      "footer footer footer";
  width: 100%;
  box-sizing: border-box;
}

.navGrid { grid-area: nav; }

.headerGrid { grid-area: header;
  text-align: center;
}

.headerGrid h1 {
  margin: 30px 0 5px 0;
  font-size: 2rem;
}

.headerGrid div h2{
  font-size: 0.8rem;
}

.headerGrid div p{
  font-size: 0.7rem;
}

.sectionUnoGrid { grid-area: sectionUno; text-align: center; display: flex; flex-direction: column;}

.sectionUnoGrid h3 {
  margin: 30px 0 20px 0;
  font-size: 2rem;
}

.sectionUnoGrid p {
  margin: 20px 10px 20px 10px;
  font-size: 1.5rem;
}

.sectionDosGrid { grid-area: sectionDos; display: flex; flex-direction: column; align-items: center;}

.sectionTresGrid { grid-area: sectionTres; font-size: 1.5rem;}

.sectionTresGrid h4 {
  font-size: 2rem;
  text-align: center;
  margin: 20px 0 10px 0;
}

.sectionTresGrid button {
  font-size: 1.5rem;
}

.footerGrid { grid-area: footer; }

.footer {
  color: white;
}
.footer .links ul {
  list-style-type: none;
}
.footer .links li a {
  color: white;
  text-decoration: none;
  transition: color 0.2s;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -ms-transition: color 0.2s;
  -o-transition: color 0.2s;
}
.footer .links li a:hover {
  color:rgb(252, 153, 124);;
}
.footer .redes i {
  font-size: 20px;
  margin: 5px;
}
.footer .redes a {
  color: white;
  transition: color 0.2s;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -ms-transition: color 0.2s;
  -o-transition: color 0.2s;
}
.footer .redes a:hover {
  color: rgb(252, 153, 124);
}
.footer .direccion i {
  font-size: 20px;
  margin-right: 15px;
}
.footer .legal p {
  border-top: 1px solid rgba(255, 255, 255, 0.1);  
}

.tarjeta {
  width: 75%;
  font-size: 1.5rem;
  text-align: center;
  margin: 0 0 40px 0;
}
.tarjeta h5 {
  font-size: 2.5rem;
}

.tarjeta a {
  font-size: 1.5rem;
  margin: 10px 0 10px 0;
}

.for {
  margin: 30px;
  font-size: 5rem;
}


@media only screen and (min-width: 768px){
  .headerGrid h1 {
    margin: 30px 0 20px 0;
    font-size: 3rem;
  }
  .headerGrid div h2{
    font-size: 2rem;
  }
  
  .headerGrid div p{
    font-size: 1.5rem;
  }

  .sectionUnoGrid h3 {
    margin: 40px 0 20px 0;
    font-size: 3rem;
  }
  
  .sectionUnoGrid p {
    margin: 20px 30px 30px 30px;
    font-size: 2rem;
  }

  .sectionDosGrid { grid-area: sectionDos; display: flex; flex-direction: row; align-items: flex-start; flex-wrap: wrap; justify-content: space-evenly;}

  .sectionTresGrid { grid-area: sectionTres; font-size: 2rem; margin-top: 20px;}

  .sectionTresGrid h4 {
    font-size: 2.5rem;
    text-align: center;
    margin: 10px 0 10px 0;
  }
  
  .sectionTresGrid button {
  font-size: 2rem;
}


.footer h5 {
  font-size: 1.5rem;
}

.footer p {
  font-size: 1rem;
}

.footer a {
  font-size: 1rem;
}

  .tarjeta {
    width: 300px;
    text-align: center;
    margin: 0 0 20px 0;
  }
  .tarjeta div {
    height: 320px;
  }

  .tarjeta h5 {
    font-size: 3rem;
    height: 40px;
  }
  
  .tarjeta p {
    font-size: 2rem;
    height: 180px;
  }

  .tarjeta a {
    font-size: 2rem;
    height: auto;
    margin: 10px 0 10px 0;
  }

}

@media only screen and (min-width: 1200px){
  .headerGrid h1 {
    margin: 30px 0 40px 0;
    font-size: 4rem;
  }
  .headerGrid div h2{
    font-size: 3.5rem;
  }
  
  .headerGrid div p{
    font-size: 3rem;
  }
  
  .sectionUnoGrid h3 {
    margin: 50px 0 40px 0;
    font-size: 3rem;
  }
  
  .sectionUnoGrid p {
    margin: 20px 80px 20px 80px;
    font-size: 2rem;
  }

  .sectionDosGrid { grid-area: sectionDos; display: flex; flex-direction: row; align-items: flex-start; flex-wrap: wrap; justify-content: space-evenly;}

  .sectionTresGrid { grid-area: sectionTres; font-size: 2.5rem; margin: 50px 300px 0 300px;}

  .sectionTresGrid h4 {
    font-size: 3rem;
    text-align: center;
    margin: 10px 0 10px 0;
  }

  .sectionTresGrid button {
  font-size: 2.5rem;
}

  .footer h5 {
    font-size: 2rem;
  }

  .footer p {
    font-size: 1.5rem;
  }

  .footer a {
    font-size: 1.5rem;
  }


  .tarjeta {
    width: 390px;
    text-align: center;
    margin-bottom: 40px;
  }

  .tarjeta div {
    height: 360px;
  }

  .tarjeta h5 {
    font-size: 2.5rem;
    height: 40px;
  }
  
  .tarjeta p {
    font-size: 2rem;
    height: 200px;
  }

  .tarjeta a {
    font-size: 2rem;
    height: auto
  }

}


/* ESTILOS DE EXCEL */

.containerExcel {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
      "nav nav nav"
      "headerExl headerExl headerExl"
      "sectionUnoExl sectionUnoExl sectionUnoExl"
      "sectionDosExl sectionDosExl sectionDosExl"
      "footer footer footer";
  width: 100%;
  box-sizing: border-box;
}

.headerExl { grid-area: headerExl;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  }

.headerExl h1 {
  font-size: 3rem;
  margin: 20px;
}

.sectionUnoExl { grid-area: sectionUnoExl;
}

.sectionUnoExl p {
  font-size: 1.6rem;
  margin: 20px;
}

.sectionDosExl { grid-area: sectionDosExl;}

.sectionDosExl h3 {
  font-size: 2rem;
  margin: 20px;
}

.tarjetaDos {
  margin: 30px;
  font-size: 2rem;
}

.tarjetaDos h5 {
  font-size: 2rem;
  padding: 0 0 10px 0;
  border-bottom: 1px solid;
}


.formulario {
  font-size: 1rem;
  padding: 5px 50px 0 50px;
}

.formulario h3 {
  font-size: 2rem;
  text-align: center;
  padding: 5%;
}

.formulario a {
  font-size: 1rem;
}

.formulario input {
  font-size: 1rem;
}

.formulario label {
  margin-right: 20px;
}



@media only screen and (min-width: 768px){
  .headerExl h1 {
    font-size: 4rem;
    margin: 30px;
  }

  .sectionUnoExl p {
    font-size: 2rem;
    margin: 25px;
  }
  
  .sectionDosExl { grid-area: sectionDosExl; display: flex; flex-direction: column; align-items: center;}

  .sectionDosExl h3 {
    font-size: 3rem;
    text-align: center;
  }

  .tarjetaDos {
    margin: 10px;
  }

  .formulario {
    font-size: 1.5rem;
    padding: 5px 50px 0 100px;
  }
  
  .formulario h3 {
    font-size: 2.5rem;
    text-align: center;
    padding: 5%;
  }
  
  .formulario a {
    font-size: 1.5rem;
  }
  
  .formulario input {
    font-size: 1.5rem;
  }
  
}

@media only screen and (min-width: 1200px){
  .headerExl h1 {
    font-size: 5rem;
    margin: 50px;
  }

  .sectionDosExl { grid-area: sectionDosExl; margin-left: 50px; flex-direction: row; flex-wrap: wrap; }

  .sectionDosExl h3 {
    text-align: center;
  }

  .formulario {
    font-size: 2rem;
    padding: 50px 400px 0 400px;
  }
  
  .formulario h3 {
    font-size: 3rem;
    text-align: center;
    padding: 5%;
  }
  
  .formulario a {
    font-size: 2rem;
  }
  
  .formulario input {
    font-size: 2rem;
  }
  

  
}