.fontWeigthThin {
    font-weight: 100;
  }
  
  .fontWeigthSemithin {
    font-weight: 300;
  }
  
  .fontWeigthSemibold {
    font-weight: 500;
  }
  
  .fontWeigthBold {
    font-weight: 700;
  }
  
  