.bgNav {
    font-size: 1.5rem;
  }
  
  .styleNav ul li a{
    margin-right: 40px;
    border-bottom-style: solid;
    border-bottom-color: rgb(68, 84, 106);
  }
  
  .styleNav ul li a:hover{
    border-bottom-style: solid;
    border-bottom-color: rgb(252, 153, 124);
  }
  